﻿<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Innube</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/30232a80d3.js" crossorigin="anonymous"></script>


</head>

<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow
            mb-3">
            <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Innube</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="Index">Registro</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Inicio de sesión</a>
            </li>
            </ul>
            <partial name="_LoginPartial" />
            </div>
            </div>
            </nav> *@

        <nav>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="opciones">
                    <a class="color1" asp-controller="Registro" asp-action="Index">Registrarse</a>
                    <a class="color2" asp-controller="Sesion" asp-action="Index">Iniciar sesión</a>
                </div>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div class="opciones">
                    <a class="color1"> Hola @User.Identity.Name</a>
                    <a class="color2" asp-controller="Sesion" asp-action="SalirSesion">Cerrar sesión</a>
                </div>
            }
            <div>
                @* <a asp-controller="Home" asp-action="Index" style="a:hover{ text-decoration: none; color:white}"> *@
                <img src="~/img/logo-trans-horizontal_1.png" width="200"
                    alt="Haz clic aquí para volver a la página de inicio" />
                @* </a> *@
                <a asp-controller="Home" asp-action="Index">Inicio</a>
                <a href="">Servicios en la nube</a>
                <a href="">Funcionalidades</a>
                <a href="">Ventajas</a>
                <a href="">Contactenos</a>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Innube <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
