﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/styleformEmpresa.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.jpg">
</head>

<body>

    <a href="@Url.Action("Inicio","Home")" style="position:absolute;margin-top:10px;margin-left:10px;width:300px" class="button login__submit">
        <span class="button__text">Ir al inicio</span>
        <i class="button__icon fas fa-chevron-right"></i>
    </a>

    @RenderBody()


    <script type="text/javascript">
        function validate(evt) {
          var theEvent = evt || window.event;

          // Handle paste
          if (theEvent.type === 'paste') {
              key = event.clipboardData.getData('text/plain');
          } else {
          // Handle key press
              var key = theEvent.keyCode || theEvent.which;
              key = String.fromCharCode(key);
          }
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
          }
        }
    </script>
</body>

</html>