﻿@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/MasterApp.cshtml";

    ClienteInnube cliente = ViewBag.Usuario;
}

<div class="container-fluid">

    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                    </div>
                    <div></div>
                    <div class="card mb-4">
                        <div class="card-header">
                            @cliente.Nombre @cliente.Apellido
                        </div>
                        <div class="card-body">
                            Por favor seleccione alguna de las opciones del menu, para realizar sus procesos.
                        </div>
                    </div>
                    <hr>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

