﻿@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/MasterApp.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">
        Formulario de contacto
    </h1>

    <form class="login" method="post" asp-action="RegistrarContacto">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="form-group">
                    <label>Nombres</label>
                    <input required type="text" maxlength="70" class="form-control form-control-user" name="nombre">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Apellidos</label>
                    <input required type="text" maxlength="70" class="form-control form-control-user" name="apellido">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Telefono</label>
                    <input required type="text" maxlength="10" class="form-control form-control-user" name="telefono">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Correo eléctronico</label>
                    <input required type="text" maxlength="150" class="form-control form-control-user" name="correo">
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>
        </div>
    </form>
    <br />
    @if (ViewBag.Mensaje != null)
    {
        <div><h3>@ViewBag.Mensaje</h3></div>
    }
</div>





