@{
    ViewData["Title"] = "TableroC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav>
    @* <div class="logo">
        <img src="~/img/logo-trans-horizontal_1.png" width="180" height="50">
    </div> *@
    <div class="sesion">
        <img src="/img/usuario.jpeg">
        <span>
            <strong>Bienvenido,</strong><br>usuario
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </div>
</nav>

<section id="dashboard">
    <article class="menu">
        <ul>
            <li class="item"><a href="">Compañías</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="Buscar">Búsqueda</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="MostrarDatos">Mostrar datos</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="Editar">Editar</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="ListarServicios">Servicios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
        </ul>
    </article>
    <article class="contenido">
        Para agregar un servicios
        <br>
        <br>
        <form method="POST" asp-action="AgregarServicio">

            <input type="hidden" id="id-servicio" name="id-servicio"/>
            <div>
                <label for="nombre_servicio">Nombre del servicio</label>
                <input for="nombre_servicio" type="text" name="nombre_servicio" required />
            </div>
            <div>
                <label for="precio_servicio">Precio del servicio</label>
                <input for="precio_servicio" type="text" name="precio_servicio" required />
            </div>

            <div>
                <label for="descripcion-servicio">Descripción del servicio</label>
                <br>
                <textarea for="descripcion-servicio" type="text" name="descripcion-servicio" 
                row="5" cols="20" required >
                </textarea>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="Agregar">
            </div>

        </form>

    </article>
</section>
