@{
    ViewData["Title"] = "TableroC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav>
    @* <div class="logo">
        <img src="~/img/logo-trans-horizontal_1.png" width="180" height="50">
        </div> *@
    <div class="sesion">
        <img src="/img/usuario.jpeg">
        <span>
            <strong>Bienvenido,</strong><br>usuario
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </div>
</nav>

<section id="dashboard">
    <article class="menu">
        <ul>
            <li class="item"><a href="">Compañías</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="Buscar">Búsqueda</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="MostrarDatos">Mostrar datos</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="Editar">Editar</a></li>
            <li class="item"><a asp-controller="TableroC" asp-action="ListarServicios">Servicios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
        </ul>
    </article>
    <article class="contenido">
        Para listar servicios
        <br>
        <br>
        <table id="mitabla2">
            <thead>
                <tr>
                    <th class="id_producto">Id producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @ViewBag.longitud; i = i + 3)
                {
                    <tr>
                        <td class="id_producto"> @ViewBag.lista[i]</td>
                        <td> @ViewBag.lista[i + 1]</td>
                        <td> @ViewBag.lista[i +2]</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-id=@ViewBag.lista[i]
                            data-bs-toggle="button" autocomplete="off">
                                Eliminar</button> 
                            <button type="button" class="btn btn-primary" data-id=@ViewBag.lista[i]
                            data-bs-toggle="button" autocomplete="off">
                                Editar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <br>
        <br>

        <a class="btn btn-primary" asp-controller="TableroC" asp-action="FormServicio" role="button">Agregar
            servicio</a>

    </article>
</section>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

<script>
    const dataTable = new simpleDatatables.DataTable("#mitabla2");
</script>