@{
    ViewData["Title"] = "Mostrar servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav>
    @* <div class="logo">
        <img src="~/img/logo-trans-horizontal_1.png" width="180" height="50">
        </div> *@
    <div class="sesion">
        <img src="/img/usuario.jpeg">
        <span>
            <strong>Bienvenido,</strong><br>usuario
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </div>
</nav>

<section id="dashboard">
    <article class="menu">
        <ul>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="Buscar">Búsqueda</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="MostrarDatos">Mostrar datos</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="Editar">Editar</a></li>
            <li class="item"><a href="">Usuarios</a></li>
        </ul>
    </article>
    <article class="contenido">
        <table id="mitabla">
            <thead>
                <tr>
                    <th class="id_producto">Id producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @ViewBag.longitud; i = i + 3)
                {
                    <tr>
                        <td class="id_producto"> @ViewBag.lista[i]</td>
                        <td> @ViewBag.lista[i + 1]</td>
                        <td> @ViewBag.lista[i +2]</td>

                        <td>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </article>
</section>


<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

<script>
    const dataTable = new simpleDatatables.DataTable("#mitabla");

</script>