﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="POST" asp-action="RealizaLogin">
				
				<img src="../logo-trans-horizontal_1.png" alt="" width="200" >
				<h4>Iniciar Sesion</h4>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="correo" class="login__input" placeholder="Correo">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Contraseña">
				</div>
				<h6>Al acceder, aceptas las politicas de privacidad, terminos del servicio y tratamiento de datos personales.</h6>
				<button type="submit" class="button login__submit">
					<span class="button__text">Ingresar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<a href="@Url.Action("Seleccion","Login")" class="button login__submit">
					<span class="button__text">Registrar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</a>
				<br />
				<a style="color:black" href="@Url.Action("OlvidoContraseña","Login")">¿Olvido su contraseña?</a>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

