﻿
@{
    ViewData["Title"] = "Mensaje";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}



<div class="container">
	<div class="screen">
		<div class="screen__content">			
			<h3 style="text-align:center">@ViewBag.Mensaje</h3>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
