﻿
@{
    ViewData["Title"] = "OlvidoContraseña";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}


<div class="container">
	<div class="screen">
		<div class="screen__content">
           
			<form class="login" method="POST" asp-action="EnvioCorreo">
                <img src="logo-trans-horizontal_1.png" alt="" width="200" >
                <h4 style="text-align:center">Recuperar contraseña</h4>
                <div  class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" name="correo" placeholder="Ingrese el correo registrado"/>
				</div>
                
				<button type="submit" class="button login__submit">
					<span class="button__text">Recuperar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>




