﻿@model ClienteInnube
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/MasterApp.cshtml";
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">
        Mi perfil
    </h1>

    <form class="login" method="post" asp-action="ActualizarPerfil">
        <input type="hidden" value="@Model.ClienteInnubeID" class="form-control form-control-user" name="clienteid">
        <input type="hidden" value="@Model.PersonaNatural" class="form-control form-control-user" name="personanatural">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" value="@Model.Nombre" maxlength="70" class="form-control form-control-user" name="nombre">
                </div>
            </div>
        </div>
        @if (Model.PersonaNatural)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" value="@Model.Apellido" maxlength="70" class="form-control form-control-user" name="apellido">
                    </div>
                </div>
            </div>
        }
        else
        {
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Nit</label>
                        <input type="text" value="@Model.Documento" maxlength="70" class="form-control form-control-user" name="documento">
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Telefono</label>
                    <input type="text" value="@Model.Telefono" maxlength="70" class="form-control form-control-user" name="telefono">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" value="@Model.Direccion" maxlength="70" class="form-control form-control-user" name="direccion">
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>
        </div>
    </form>
</div>



