﻿
@{
    ViewData["Title"] = "RegistroEmpresa";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}

<style>
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
</style>

<div class="container">
		<div class="screen">
			<div class="screen__content">

				<form class="login" method="post" asp-action="RegistrarEmpresa">
					<img src="logo-trans-horizontal_1.png" alt="" width="200">
					<h4>Registro Empresa</h4>
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" onkeypress='validate(event)'  class="login__input" name="documento" placeholder="Ingrese el Nit" />
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' name="nombre" placeholder="Ingrese el Nombre" />
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" onkeypress='validate(event)'  class="login__input" name="telefono" placeholder="Ingrese el Telefono" />
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<select name="IdCiudad" class="login__input" type="text" asp-items="@ViewBag.lista_ciudad" required></select>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<select name="IdDepartamento" class="login__input" type="text" asp-items="@ViewBag.lista_departamento" required ></select>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="text" class="login__input" name="correo_electronico_empresa"
							placeholder="Ingrese el Correo" />
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="text" class="login__input" name="confirme_correo"
							 placeholder="Confirme el Correo" />
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" name="password"
							placeholder=" Ingrese una Contraseña" />
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" name="contraseñaempresa"
							 placeholder="Confirme la Contraseña" />
					</div>

					<button class="button login__submit">
						<span class="button__text">Ingresar</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>

			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
