﻿
@{
    ViewData["Title"] = "RegistroCliente";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}

<style>
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
</style>
<div class="container">
	<div class="screen">
		<div class="screen__content">
           
			<form class="login" method="POST" asp-action="RegistarCliente">
                <img src="logo-trans-horizontal_1.png" alt="" width="200" >
                <h4 style="text-align:center">Registro Cliente</h4>
                <div  class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' name="nombre" id="nombre" placeholder="Ingrese el Nombre"/>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' name="apellido" id="apellido" placeholder="Ingrese el Apellido" />
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" onkeypress='validate(event)'  class="login__input" name="documento" id="documento" placeholder="Ingrese la cedula" />
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" class="login__input" name="correo" id="correo" placeholder="Ingrese el Correo" />
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" class="login__input" name="confirmar_correo_cliente" id="confirmar_correo_cliente"
					 placeholder="Confirmar Correo" />
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" name="password" id="password" placeholder="Ingrese una contraseña" />
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" name="confirmar_contraseña_cliente" id="confirmar_contraseña_cliente" 
					placeholder="Confirmar Contraseña" />
				</div>
				<button type="submit" class="button login__submit">
					<span class="button__text">Ingresar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>


