﻿
@{
    ViewData["Title"] = "Seleccion";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				
				<img src="../logo-trans-horizontal_1.png" alt="" width="200" >
				<h4>Selecciona un usuario</h4>
				
				<a href="@Url.Action("RegistroCliente","Login")" class="button login__submit">
					<span class="button__text">Cliente</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</a>		
                <a href="@Url.Action("RegistroEmpresa","Login")" class="button login__submit">
					<span class="button__text">Empresa</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</a>	
                			
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

