﻿@{
    ViewData["Title"] = "AddServicio";
    Layout = "~/Views/Shared/MasterApp.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">
        Adicionar servicio
        <a style="float:right" href="#" class="btn btn-primary btn-circle">+</a>
    </h1>
    <p class="mb-4">Por favor completa la siguiente información.</p>

    <form class="login" method="post" asp-action="RegistrarServicio">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nombre del servicio</label>
                    <input type="text" maxlength="70" class="form-control form-control-user" name="nombre">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Valor del servicio</label>
                    <input type="number" maxlength="8" class="form-control form-control-user" name="valor">
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea  maxlength="2000" class="form-control form-control-user" name="descripcion"></textarea>
                </div>
            </div>
        </div>

        <div class="row" style="text-align:center">
            <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>
        </div>
    </form>
</div>

