﻿@model List<Servicio>
@{
    ViewData["Title"] = "MisServiciosOfertados";
    Layout = "~/Views/Shared/MasterApp.cshtml";

    ClienteInnube cliente = ViewBag.Usuario;
}

<div class="container-fluid">
    @if (cliente.PersonaJuridica)
    {
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            Mis servicios ofertados
            <a style="float:right" href="@Url.Action("AddServicio","Servicio")" class="btn btn-primary btn-circle">+</a>
        </h1>
        <p class="mb-4">A continuación se listaran los servicios que ud estan vendiendo en la plataforma.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mis servicios</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-sm-12">
                        @if (Model != null && Model.Count > 0)
                        {
                            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Servicio item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.Valor</td>
                                        </tr>

                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <div>AUN NO TIENE SERVICIOS OFERTADOS.</div>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>Lo sentimos, para publicar tus servicios debes registrarte como empresa.</div>

    }

</div>

