﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 5px;
  text-align: center;
  color: #215177;
}

h2 {
  padding: 10px;
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
  margin: 0%;
}

h5 {
  text-align: center;
}

p {
  margin-left: 100px;
  margin-right: 100px;
}

.color1 {
  background-color: #808080;
  color: #fff;
  border: 2px solid;
  border-radius: 20px;
  padding: 8px 20px;
}

.color2 {
  background-color: #215177;
  color: #fff;
  border: 2px solid;
  border-radius: 20px;
  padding: 8px 20px;
}

.centrar {
  display: block;
  margin: auto;
}

.opciones {
  padding-right: 0px;
  padding-left: 800px;
  margin: 5px 15px 5px 15px;
}

.imggrande {
  padding-top: 20px;
}

img {
  padding: 5px;
  margin: 10px;
}

footer {
  padding: 10px;
  background-color: black;
  color: aliceblue;
  margin: auto;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

nav {
  padding: 4px 10px;
  border: 3px;
  border-radius: 20px;
  margin: 5px 25px 5px 25px;
}

a {
  color: black;
  padding: 8px 30px;
  margin: 0px 20px 5px 20px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #fff;
  background-color: #215177;
}

.cajaRC {
  padding: 60px 60px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  color: #215177;
  border: 20px;
  border: 3px solid;
  border-radius: 20px;
  text-decoration-skip: none;
}

.bodyre {
  background-image: url("../img/Recurso-9.png");
  background-size: cover;
  padding: 30px;
  border: 20px;
  margin: 5px 70px;
  text-decoration: none;
}

.enviar {
  background-color: #215177;
  color: #fff;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 25px;
}

label {
  color: black;
}

input {
  border: 0;
  margin: 5px;
  padding: 5px 5px;
  background-color: #eee;
}

.centrarbotonregistro {
  border: 0;
  margin-top: auto;
  padding: 15px 40px;
  margin: auto;
  color: #fff;
}

.aconfirmar {
  border: 0;
  margin-top: auto;
  padding: 15px 55px;
  margin: auto;
}

.textos {
  vertical-align: middle;
}

.catalogo {
  display: flex;
  align-items: stretch;
  text-align: center;
}

.caja-producto {
  box-shadow: 2px 2px 2px var(--dark-color);
  background-color: var(--white-color);
  margin: 15px;
}

.caja-header img {
  width: 50px;
  height: 50px;
}

.caja-titulo {
  background-color: var(--blue-color);
  padding: 1px 0;
}

.caja-datos {
  padding: 15px;
}

/*dasboard*/

header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.logo img {
  max-width: 250px;
  width: 100%;
}

.sesion {
  display: flex;
  align-items: center;
  color: #215177;
}

.sesion img {
  max-width: 50px;
  width: 100%;
  border: 4px solid #215177;
  border-radius: 100%;
}

#dashboard {
  display: flex;
}

.menu {
  flex-basis: 20%;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.menu a:hover {
  background-color: #215177;
  border-left: 3px solid #fff;
  padding-left: 50px;
  transition: all 2s;
}

.contenido {
  flex-basis: 80%;
  background-color: rgb(248, 248, 248);
  padding: 30px;
}

/*formulario*/
#login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-login h1 {
  text-align: center;
}

.form-login i {
  color: var(--purple-color);
  background-color: var(--white-color);
  padding: 1rem 0.8rem;
  border-radius: 100%;
  border: 4px solid var(--gray-color);
}

.form-login {
  margin-top: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 1px 1px 2px var(--dark-color);
  background-color: var(--ligh-color);
  border-radius: 5px;
  padding: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
}

.form-input,
.form-select {
  border: 3px solid var(--gray-color);
  padding: 0.5rem;
  outline: none;
}

.form-input:focus {
  border: 3px solid var(--blue-color);
}

.form-input::placeholder {
  font-size: 0.8rem;
}

.form-select option {
  font-size: 0.8rem;
}

.btn-azul,
.btn-morado {
  padding: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn-azul {
  background-color: var(--blue-color);
}

.btn-azul:hover {
  background-color: rgba(0, 178, 177, 0.9);
}

.btn-morado {
  background-color: var(--purple-color);
}

.btn-morado:hover {
  background-color: rgba(117, 41, 149, 0.9);
}

.form-olvido {
  text-align: center;
  color: var(--blue-color);
  font-size: 0.9rem;
}
