@{
    ViewData["Title"] = "Registro";
    Layout = "/Views/Shared/Master.cshtml";
}

 <section class="wt-section">
        <div class="container"> 

<div class="bodyre">
    <div class="cajaRC">
        <h4>¿Qué usuario eres?</h4>
        <div class="form-control form-control-lg"> <a asp-area="" asp-controller="Registro" asp-action="RegCliente">Cliente</a></div>
        <div class="form-control form-control-lg"><a asp-area="" asp-controller="Registro" asp-action="RegEmpresa">Empresa</a></div>
        <div class="form-control form-control-lg"><a asp-area="" asp-controller="Registro" asp-action="RegEmpresaOfertante">Empresa ofertante</a></div>
    </div>
</div>

</div>
</section>