@model Proyecto_sena.Models.Cliente;

@{
    ViewData["Title"] = "Registro cliente";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="bodyre">
    <div class="cajaRC">
        <img class="centrar" src="~/img/logo-trans-horizontal_1.png" alt="" width="160px" height="50px">
        <h3>Registro Cliente</h3>
        <form method="POST" asp-action="CrearCliente">

            <input type="hidden" id="IdCliente" name="IdCliente" />
            <div>
                <label asp-for="NombreCliente">Nombre</label>
                <input asp-for="NombreCliente" type="text" name="nombre" required />
            </div>
            <div>
                <label asp-for="ApellidoCliente">Apellido</label>
                <input asp-for="ApellidoCliente" type="text" class="sinborde" name="apellido" required />
            </div>

            <div>
                <label asp-for="CorreoElectronicoCliente">Correo</label>
                <input asp-for="CorreoElectronicoCliente" type="email" name="correo" required />
            </div>

            <div>
                <label>Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" onkeyup="confirmacion_contraseña();"
                    name="contraseña" required />
                <span id="checkconfirm"></span>
            </div>

            <div>
                <label>Confirmar contraseña</label>
                <input type="password" name="confirmar_contraseña" id="confirmar_contraseña"
                    onkeyup="confirmacion_contraseña();" required />
                <span id="checkconfirm"></span>
            </div>
            <div class="centrarbotonregistro">
                <input type="submit" value="Registrarse">
            </div>
        </form>
    </div>
</div>