﻿@using Proyecto_sena.Models.DAOS
@model List<MisVentas>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/MasterApp.cshtml";
}

<div class="container-fluid">
    @if (Model != null && Model.Count > 0)
    {
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            Mis ventas
        </h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-sm-12">

                            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Servicio</th>
                                        <th>Comprador</th>
                                        <th>Cantidad</th>
                                        <th>Valor Total</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (MisVentas item in Model)
                                    {
                                        <tr>
                                            <td>@item.NombreServicio</td>
                                            <td>@item.Comprador</td>
                                            <td>@item.Cantidad</td>
                                            <td>@item.ValorTotal</td>
                                            <td>@item.FechaCompra</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>Aun no vendes ningun servicio.</div>
    }

</div>




