@{
    ViewData["Title"] = "Inicio sesión";
    Layout = "/Views/Shared/Master.cshtml";
    var error = TempData["Error"] as string;
}

<div>
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="text-danger"> @error </div>
    }
</div>

 <section class="wt-section">
        <div class="container"> 
<div class="bodyre">
    <div class="cajaRC">
        <h3>Iniciar sesión</h3>
        <form method="POST" asp-action="Ingresar">
            <div>

                <div>
                    <label for="correo">Correo</label>
                    <input class="form-control form-control-lg" type="email" id="correo" name="correo" required />
                </div>

                <div>
                    <label for="contraseña">Contraseña</label>
                    <input class="form-control form-control-lg" type="password" id="contraseña" name="contraseña" required />
                </div>

                <h5>¿Olvidó su contraseña?</h5>

                <div class="aconfirmar">
                    <input class="btn btn-pill btn-primary mr-3 mb-md-0 mb-3" type="submit" value="Ingresar">
                </div>

                <h5>Si aún no tiene cuenta, <a href="@Url.Action("Index","Registro")">regístrese.</a></h5>

            </div>
        </form>
    </div>
</div>
</div>
</section>