﻿@using Proyecto_sena.Models.DAOS
@model List<Carrito>
@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/MasterApp.cshtml";
}


<div class="container-fluid">
    @if (Model != null && Model.Count > 0)
    {
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            Mi carrito de compras
             <a style="float:right" href="@Url.Action("Home","Compra")" class="btn btn-primary btn-icon-split btn-lg">
                    <span class="text">Continuar comprando</span>
            </a>
        </h1>
        <p class="mb-4">Estos son los articulos que estan en tu carrito de compras.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-sm-12">
                        @if (Model != null && Model.Count > 0)
                        {
                            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Nombre</th>
                                        <th>Valor</th>
                                        <th>Cantidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Carrito item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.Valor</td>
                                            <td>@item.Cantidad</td>
                                            <td>
                                                <a href="@Url.Action("EliminarCarrito","Compra",new { id = item.ItemID})" class="btn btn-danger btn-circle">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <form method="post" asp-action="RealizarCompra">
                                    <button type="submit" class="btn btn-primary btn-icon-split btn-lg">
                                        <span class="text">Confirmar compra</span>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div>AUN NO TIENE SERVICIOS OFERTADOS.</div>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>Aun no tienes servicios o productos en tu carrito de compras.</div>
    }

</div>



