﻿@model List<Servicio>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/MasterApp.cshtml";
     ClienteInnube cliente = ViewBag.Usuario;
}


<div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            Servicios disponibles para compra
              <a style="float:right" href="@Url.Action("Carrito","Compra")" class="btn btn-primary btn-icon-split btn-lg">
                    <span class="text">Ver mi carrito</span>
            </a>
        </h1>
        <p class="mb-4">Seleccione el servicio que desea adicionar a su carrito de compras.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Servicios disponibles</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-sm-12">
                        @if (Model != null && Model.Count > 0)
                        {
                            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 155.531px;">Nombre</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 264.734px;">Descripción</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 111.594px;">Valor</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50.4375px;">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Servicio item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.Valor</td>
                                            <td>
                                                <form method="post" asp-action="AdicionarCarrito">
                                                    <input name="servicioid" type="hidden" value="@item.ServicioID">
                                                    <input name="cantidad" type="text" value="0">
                                                    
                                                    <button type="submit" class="btn btn-primary btn-icon-split">
                                                        Comprar
                                                    </button>
                                                </form>
                                            </td>

                                        </tr>

                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <div>AUN NO TIENE SERVICIOS OFERTADOS.</div>

                        }
                    </div>
                </div>
            </div>
        </div>
   
</div>



