﻿@using Proyecto_sena.Models.DAOS
@model List<MisCompras>
@{
    ViewData["Title"] = "MisCompras";
    Layout = "~/Views/Shared/MasterApp.cshtml";
}


<div class="container-fluid">
    @if (Model != null && Model.Count > 0)
    {
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            Mis compras
        </h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-sm-12">
                        @if (Model != null && Model.Count > 0)
                        {
                            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Servicio</th>
                                        <th>Empresa</th>
                                        <th>Cantidad</th>
                                        <th>Valor unidad</th>
                                        <th>Valor total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (MisCompras item in Model)
                                    {
                                        <tr>
                                            <td>@item.NombreServicio</td>
                                            <td>@item.NombreEmpresa</td>
                                            <td>@item.Cantidad</td>
                                            <td>@item.ValorUnidad</td>
                                            <td>@item.ValorTotal</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div>AUN NO TIENE SERVICIOS OFERTADOS.</div>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>No tienes servicios en el carrito de compras.</div>

    }

</div>





